libzkonvif/wsdl/event.zk.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
				  xmlns:zonekey="http://www.zonekey.com.cn/schema"
                  targetNamespace="http://www.onvif.org/ver10/events/wsdl/zk">
	<wsdl:import namespace="http://docs.oasis-open.org/wsn/bw-2" location="./bw-2.wsdl"/>
	<wsdl:types>
		<xs:schema targetNamespace="http://www.onvif.org/ver10/events/wsdl/zk" 
               elementFormDefault="qualified" version="2.4">
			<xs:import namespace="http://www.zonekey.com.cn/schema" schemaLocation="./zonekey.xsd"/>

			<!--  Message Request/Responses elements  -->
			<xs:element name="ZonekeyPostMessageType" type="zonekey:ZonekeyPostMessageType"/>
			<xs:element name="ZonekeyPostMessageResponseType">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>

	<!-- 本地消息 -->
	<wsdl:message name="PostEventRequest">
		<wsdl:part name="parameters" element="tev:ZonekeyPostMessageType" />
	</wsdl:message>
	<wsdl:message name="PostEventResponse">
		<wsdl:part name="parameters" element="tev:ZonekeyPostMessageResponseType"/>
	</wsdl:message>


	<!-- 本地通知消息 -->
	<wsdl:portType name="LocalPostEventType">
		<wsdl:operation name="LocalPostEvent">
			<wsdl:input message="tev:PostEventRequest" wsaw:Action="http://localhost:10001"/>
			<wsdl:output message="tev:PostEventResponse" wsaw:Action="http://localhost:10001"/>
		</wsdl:operation>
	</wsdl:portType>


	<!-- 本地发送消息通知，照理说，使用 udp 方式更好，但实在找不到 c#, java 的实现方式，只好使用 http 了 :( -->
	<wsdl:binding name="PostEventBinding" type="tev:LocalPostEventType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="LocalPostEvent">
			<soap:operation soapAction="http://127.0.0.1:10001"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>
